{% block subject %}
    {% if configuration %}
        asdas
    {% else %}
        Order confirmation {% if order.customer and order.customer.email %} {{ order.customer.email }} {% if  order.customer.firstName %} {{ order.customer.firstName }}{% endif %} {% if order.customer.lastName %}{{ order.customer.lastName }}{% endif %}{% endif %}
    {% endif %}
{% endblock %}

{% block body %}
    {{ configuration.body }}
    <br>
    {{ dump(_context) }}

    {% set url = order.channel.hostname is not null ? 'http://' ~ order.channel.hostname ~ path('sylius_shop_order_show', {'tokenValue': order.tokenValue, '_locale': order.localeCode}) : url('sylius_shop_order_show', {'tokenValue': order.tokenValue, '_locale': order.localeCode}) %}
    {% autoescape %}
        Your order no. {{ order.number }} has been successfully placed.
        <br/>

        To view order or change payment method - please visit <a href="{{ url|raw }}">{{ url|raw }}</a>
        <br/><br/>
        Thank you for shopping at our store!
    {% endautoescape %}
{% endblock %}
